# Mac OS files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django related files
*.log
*.pot
*.pyc
db.sqlite3
media/

# Virtual environment
venv/
.venv/
.env

# IDE specific files
.vscode/
.idea/

# DB files
data/