:root {
    --white: #fff;
    --black: #000;
    --font-black: #1a1a1a;
   
    --bg-color-10: rgb(253, 250, 237);
    --bg-color-100: #FFF8DE;
    --bg-color-200: #F5EED5;
    --bg-color-300: #EEE7CF;
    --bg-color-40: rgb(232, 229, 217);
    --bg-color-400: #E0DBC9;
    --bg-color-600: #B7B094;
    --fill-bg-btn-color: #EEE7CF;
    --fill-bg-circle-btn-color: #E0DBC9;
    
    --br-color: #c7c5ba;
    --secondary-pr-color: #D9B148;

    --gray-color-200: #a4c3b2;

    --pr-color: #46754B;
    --pr-color-outline: #acc4ae;
    
    --pr-color-active: #46754B;
    --pr-color-not-active: #84A287;

    --font-color: #46754B;
    --font-pr-color: #46754B;
    --font-pr-disabled-color: #84A287;

    --bg-link-color: #6f80e0;
    --dg-bg-color-red:rgb(243, 212, 212);
    --dg-red-color: #F36C6C;
    --dg-font-red-color: #e23e3e;
    --dg-placeholder-font-red-color: #f79696;
    --dg-red-outline-color: #e6b8b8;
}