label.input-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    flex: 1 0 0;
    gap: 0.5rem;

    &.--focus-in,
    &.--filled {
        .text-field-wrapper {
            div.input-label {
                z-index: 1;
                top: -0.75rem;
                padding: 0 0.5rem;
                left: 0.75rem;
                font-size: 1rem;
                height: 1.5rem;
                color: var(--font-pr-color);
                background-color: var(--bg-color-100);
                position: absolute;
            }
        }
    }

    &.--invalid .text-field-wrapper {
        --br-field-color: var(--dg-red-color);

        input.text-field {
            &::placeholder {
                color: var(--dg-placeholder-font-red-color) !important;
            }
        }

        .input-label {
            color: var(--dg-font-red-color) !important;
        }
    }

    &.--focus-in .text-field-wrapper {
        outline: calc(var(--br-size) * 2) solid var(--pr-color-outline);

    }

    &.--focus-in.--invalid .text-field-wrapper {
        outline: calc(var(--br-size) * 2) solid var(--dg-red-outline-color);
    }

    .text-field-wrapper {
        color: var(--font-pr-color);
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--bg-color-100);
        border-radius: 0.75rem;
        --br-field-color: var(--font-pr-color);
        border: calc(var(--br-size) * 1) solid var(--br-field-color);

        &.optional-menu {
            padding: 1rem;
        }

        div.view-mode-box {
            z-index: 1;
            top: 0.25rem;
            position: absolute;
            right: 0.25rem;
            cursor: pointer;
            background-color: transparent !important;
        }

        div.input-label {
            z-index: 1;
            top: 1rem;
            padding: 0 0.5rem;
            left: 0.75rem;
            font-size: 1.25rem;
            height: 1.75rem;
            user-select: none;
            pointer-events: none;
            color: var(--pr-color-not-active);
            background-color: var(--bg-color-100);
            position: absolute;
            transition: top 250ms ease-in-out, font-size 250ms ease-in-out, color 250ms ease-in-out;
        }

        input.text-field {
            padding: 1rem;
            margin: 0;

            font-size: 1.25rem;
            height: 1.75rem;
            color: inherit;
            font-weight: 600;

            border-radius: 0.75rem;
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;

            &.input-text {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}

div.error-message-box {
    height: 100%;
    padding-left: 0.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 0.5rem;

    p {
        color: var(--dg-font-red-color) !important;
    }

    svg {

        aspect-ratio: 1/1;
        padding-top: 0.125rem;
        width: 1rem;
        height: 1rem;
        min-width: 1rem;
        min-height: 1rem;
        fill: var(--dg-font-red-color);
    }
}

section.form-section-provider {
    display: flex;
    position: relative;

    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    border-radius: 0.75rem;
    border: calc(var(--br-size) * 2) solid var(--bg-color-400);
    margin-top: 1rem;



    .form-label-wrapper {
        display: flex;
        justify-content: center;

        position: absolute;
        top: -1.25rem;
        z-index: 5;

        width: 100%;
        left: 0;
        right: 0;

        .form-label {
            background-color: var(--bg-color-100);
            padding: 0 1.25rem;
            text-align: center;
            border-radius: 0.5rem;
        }
    }


    .upper-form-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-sizing: border-box;
        padding: 2.5rem 1.75rem 2rem;
        border-radius: 0.65rem 0.65rem 0 0;
        width: 100%;
    }

    .bottom-form-section {
        display: flex;
        justify-content: space-between;
        border-radius: 0 0 0.65rem 0.65rem;
        background-color: var(--bg-color-400);
        padding: 1.5rem 1.75rem;

        >button {
            min-width: 12rem;
        }
    }


}

.col-fields-wrapper {
    width: 100%;
    flex: 1 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    align-self: stretch;

    .two-fields-wrapper {
        flex: none;
    }
}

.two-fields-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    gap: 1rem;
    align-self: stretch;
}

div.form-main-page-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-100);

    overflow: hidden;

    .form-wrapper {
        position: relative;
        z-index: 5;

        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        max-width: max(27.5rem, 20vw);

        img {
            padding-bottom: 1.5rem;
        }

        .form-content-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1.5rem;
        }
    }
}